@font-face {
    font-family: Yekan;
    src: url(../fonts/Yekan.woff);
}
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
    font-family: Yekan;
}

.container {
    width: 80%;
    margin: auto;
}
.succes {
    font-size: 15px;
    background-color: #00ff89a6;
    color: white;
    height: fit-content;
    border-radius: 7px;
    padding: 4px;
    margin-top: 8px;
    text-align: center;
}
.error{
    font-size: 15px;
    background-color: #ff005ea8;
    color: white;
    border-radius: 7px;
    padding: 4px;
    margin-top: 8px;
    text-align: center;
    height: fit-content;
}

.header {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 39%, rgba(2,0,36,1) 100%);
}

.search {
    flex: 50%;

}

.title {
    flex: 50%;
    color: white;
    text-align: start;
    padding-top: 5px;

}
.titleA {
    text-decoration: none;
    color: white;
}

.searchform {
    text-align: end;
}

.srchinp {
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 23px;
    box-sizing: border-box;
}

/*Search Bar*/
.serchBarMain{
    display: inline-block;
}


input.serchBar {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 10px;
    height: 26px;
    padding-left: 2px;
    color: #FFFFFF;

}
/*Search Bar*/
input.serchBar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
    padding: 5px;
}
.serchBar:focus{
    border-color: #0400ff ;
    border-radius: 20px;
    transition: .5s;

}
.serchBar:focus::placeholder {
    opacity: 0;
    transition:.3s;
}
/*Select Input*/
select.status {
    background-color: #215dfc;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 7px;
    outline: none;
    display:inline-block;
}


/*search Botton*/
.srchbtn {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 7px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 12px;
    padding: 5px 10px;
}

.srchbtn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 215, 255, 0.52);
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.body {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    text-align: center;
    background: rgb(255 255 255 / 88%);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputQuestion {
    flex: 30%;

}

.content {
    flex: 70%;
    overflow: auto;
    max-height: 401px;
}
.formQuestion {
    padding: 20px;
    border-right: solid 2px #939090;

}

lable {
    display: block;
    text-align: end;
}

.inputQ {
    line-height: 28px;
    border-radius: 11px;
    padding: 0.2rem 4px;
    outline: none;
    border: none;
    width: -webkit-fill-available;
    margin-top: 8px;
    text-align: start;
    background-color: #ffffffad;
    color: #454545;
    box-shadow: 0px 0px 8px 0px #afacacad;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.inputQ:focus, inputQ:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 2px rgba(157, 155, 155, 0.68);
}

.inputQ::placeholder {
    color: #8d8d8d
;
}

.inputQ:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


.inputbtn {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 7px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 14px;
    padding: 4px;
    width: -webkit-fill-available;
    margin-top: 7px;
}

.inputbtn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}


.inputTitle {
    display: block;
    text-align: start;
    color: #454545;
    padding: 5px;
}
.formLogin {
    padding: 50px;
    height: auto;
    font-family: IRANYekan;
}
/*login btn*/
.loginBtn {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 7px;
    font-family: inherit;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
    margin-top: 8px;
}

.loginBtn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}
.inputTitleLogin{
    color: #FFFFFF;
    text-align: center;
}

/*admin*/
.pAdmin {
    display: inline-block;
    font-size: 19px;
    padding: 5px;
    margin: 0px;
    color: white;
}
a.exit {
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    margin-left: 10px;
    float: right;
}
a.login {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
a.login:hover{
    color: #215dfc;
}
a.exit:hover{
    color: #215dfc;
}

/* --------------content----------*/
.question {
    margin: 15px;
    text-align: end;
    background-color: #f0f8ff6e;
    backdrop-filter: blur(1px);
    border-radius: 7px;
    box-shadow: 0px 0px 6px 2px #33333326;
}
.quContent {
    padding: 9px;
}
.questionline {
    margin-bottom: 15px;
    margin-top: 5px;
}
span.status {
    height: 31px;
    width: 31px;
    display: inline-block;
    float: left;
}
.pending{
    background-image: url("../images/pending.png");
}
.answered{
    background-image: url("../images/answered.png");

}
.publish {
    background-image: url("../images/published.png");

}
span.time {
    font-size: 13px;
    color: #605f5f;
    background-color: #e7e2e2;
    border-radius: 5px;
    padding: 0px 4px;
}
span.timeans {
    font-size: 11px;
    color: #605f5f;
    background-color: white;
    padding: 0px 4px;
    border-radius: 5px;
}
.answer {
    background-color: #e7e2e2;
    padding: 1px 10px;
    margin-bottom: 4px;
    border-radius: 6px;
}
span.ans {
    color: #666666;
    font-size: 15px;
}
/*----------admin btn------------*/
.adminbtn {
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.adminBtnA {
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #215dfc;
    padding: 1px 5px;
    border-radius: 5px;
}
.adminBtnA:hover{
    color: #444;
    background-color: #f1f0f0;
    box-shadow: 0px 0px 8px 0px rgba(136, 136, 136, 0.53);
}
.adminBtnA2 {
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #01cefb;
    border-radius: 5px;
    float: left;
    padding: 1px 5px;
}
.adminBtnA2:hover{
    color: #444;
    background-color: #f1f0f0;
    box-shadow: 0px 0px 8px 0px rgba(136, 136, 136, 0.53);
}


.loading {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    opacity: 1;
    background : #ffffff;
}
.titleAdmAnswer{
    color: #454545;
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
}
.erronAdmin {
    margin: 3px;
    font-size: 12px;
    color: #fd4747;
}
/*------------loading---------------*/
.loading span {
    width:20px;
    height: 20px;
    border-radius: 100px;
    border-right: 5px solid rgba(0, 13, 255, 0.52);
    border-left: 5px solid rgba(0, 13, 255, 0.52);
    border-top: 5px solid rgba(0, 13, 255, 0.52);
    border-bottom: 5px solid transparent;
    animation: 0.5s spinner linear infinite;
}

.show {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
}



@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

/*--------------page ination--------------*/
a.page {
    color: white;
    background-color: #215dfc;
    padding: 0px 11px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}
a.page:hover{
    color: #444;
    background-color: #cccccc;
    box-shadow: 0px 0px 8px 0px #605f5f;
}
.pages {
    margin: 10px;
}
.currentPage {
    color: white;
    background-color: #837e7e;
    padding: 0px 11px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}